<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158986405146-a25afr7d9dmgboq9eut50tgv2a6q0aq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158986405146-a25afr7d9dmgboq9eut50tgv2a6q0aq3</string>
	<key>API_KEY</key>
	<string>AIzaSyDCjcJZ_bkSnG6p6UP2-AB_8VV6B8L62AA</string>
	<key>GCM_SENDER_ID</key>
	<string>158986405146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twidere.TwidereX</string>
	<key>PROJECT_ID</key>
	<string>twidere-x</string>
	<key>STORAGE_BUCKET</key>
	<string>twidere-x.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158986405146:ios:79c2e47a45e17e662bd8a3</string>
	<key>DATABASE_URL</key>
	<string>https://twidere-x.firebaseio.com</string>
</dict>
</plist>